.elements {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 17px;
  row-gap: 20px;
}
.element {
  max-width: 282px;
  line-height: 0;
  position: relative;
}
.element__delete {
  border: 0;
  background-color: transparent;
  position: absolute;
  top: 18px;
  right: 15px;
}
.element__delete:hover {
  opacity: 0.8;
}
.element__image {
  width: 282px;
  height: 282px;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
  max-width: 100%;
}
.element__content {
  padding: 25px 21px;
  background-color: #ffffff;
  border-radius: 0 0 10px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.element__name {
  color: #000000;
  font-weight: 700;
  font-size: 24px;
  line-height: 1;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.element__button {
  background-color: transparent;
  border: 0;
  padding: 0;
}
.element__like {
  stroke-width: 2;
}
.element__button:hover {
  opacity: 0.6;
}
.element__like_type_liked {
  fill: black;
}
.elements__modal {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(000, 000, 000, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  z-index: 1;
}
.popup__element {
  position: relative;
}
.popup__image {
  width: 75vw;
  height: 75vh;
}
.popup__name {
  margin-top: 10px;
}
.popup__close {
  position: absolute;
  top: -40px;
  right: -40px;
  background-color: transparent;
  border: 0;
}
.popup__delete {
  width: 100%;
  padding: 13px;
  border: 0;
  background-color: #000000;
  color: white;
  border-radius: 2px;
  margin-top: 48px;
}
.elements__modal_visibility_visible {
  visibility: visible;
}
@media screen and (min-width: 540px) and (max-width: 768px) {
  .elements {
    grid-template-columns: repeat(3, 32%);
    padding: 19px;
  }
  .element__name {
    font-size: 18px;
  }
}

@media screen and (min-width: 320px) and (max-width: 540px) {
  .elements {
    grid-template-columns: repeat(2, 48%);
    padding: 19px;
  }
  .element__name {
    font-size: 16px;
  }
}
@media screen and (max-width: 320px) {
  .elements {
    grid-template-columns: 1fr;
    padding: 19px;
  }
}
